<%- include('partials/head') %>
    <!--!About-->
    <div class="about">
        <div class="container ">
            <h3 class="text-center">About</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsa cupiditate fugit eveniet labore
                illo
                magnam unde similique, quidem, qui corrupti dolor adipisci aspernatur soluta aperiam laudantium
                recusandae nisi fuga.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsa cupiditate fugit eveniet labore
                illo
                magnam unde similique, quidem, qui corrupti dolor adipisci aspernatur soluta aperiam laudantium
                recusandae nisi fuga.</p>
        </div>
    </div>
    <%- include('partials/foot') %>