<%- include('partials/head') %>
    <!--!Seccion 2 productos-->
    <!--TODO: parte inicial-->
    <section id="projects" class="container">
        <div class="text-center pt-5">
            <h1>Projects</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, incidunt!</p>
        </div>

        <div class="row">
            <div class="col-lg-4 img-fluid width: 60%"><img class="img" src="img/project1.jpg" alt="Projecto 1"></div>
            <div class="col-lg-4 img-fluid width: 60%"><img class="img" src="img/project2.jpg" alt="Projecto 2"></div>
            <div class="col-lg-4 img-fluid width: 60%"><img class="img" src="img/project3.jpg" alt="Projecto 3"></div>
            <div class="col-lg-4 img-fluid width: 60%"><img class="img" src="img/project4.jpg" alt="Projecto 4"></div>
            <div class="col-lg-4 img-fluid width: 60%"><img class="img" src="img/project5.jpg" alt="Projecto 5"></div>
            <div class="col-lg-4 img-fluid width: 60%"><img class="img" src="img/project6.jpg" alt="Projecto 6"></div>
    </section>

    <%- include('partials/foot') %>