<footer>
    <div class="row align-items-end text-center mx-auto">
        <div class="col icon">
            <a href="https://github.com/"><img src="ico/github.svg" alt="GitHub">GitHub</a>
        </div>
        <div class="col icon">
            <a href="https://youtube.com/"><img src="ico/youtube.svg" alt="YouTube">YouTube</a>
        </div>
        <div class="col icon">
            <a href="https://linkedin.com/"><img src="ico/linkedin.svg" alt="LinkdIn">LinkdIn</a>
        </div>
        <p>Lorem, ipsum dolor.</p>
    </div>

</footer>